[Unit]
Description=Starts the Httpd Auth API Service
After=dbus.service
ConditionPathExists=/etc/container-environment
[Service]
EnvironmentFile=/etc/container-environment
ExecStart=/bin/bash -c "cd ${HTTPD_AUTH_API_SERVICE_DIRECTORY} && bundle exec ruby ./auth_api_service.rb"
[Install]
WantedBy=multi-user.target
