[Unit]
Description=Starts the Httpd Auth API Service
After=dbus.service
ConditionPathExists=/etc/container-environment
[Service]
EnvironmentFile=/etc/container-environment
ExecStart=/usr/bin/auth-api-service.sh
[Install]
WantedBy=multi-user.target
