[Unit]
Description=Initializes Httpd External Authentication
Before=network-pre.target
Wants=network-pre.target
[Service]
Type=oneshot
ConditionPathExists=/etc/container-environment
EnvironmentFile=/etc/container-environment
ExecStart=/usr/bin/initialize-httpd-auth.sh
[Install]
WantedBy=multi-user.target
