[Unit]
Description=Initializes Httpd External Authentication
Before=network-pre.target
Wants=network-pre.target
[Service]
Type=oneshot
EnvironmentFile=-/etc/container-environment
ExecStartPre=/bin/bash -c "until [ -s /etc/container-environment ]; do sleep 1; done"
ExecStart=/usr/bin/initialize-httpd-auth.sh
[Install]
WantedBy=multi-user.target
